<% if @purchases != [] %>
    <h1>Все ваши заказы:</h1>
    <table class="table table-hover text-center table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Список препаратов и их количество</th>
          <th scope="col">Статус покупки</th>
          <th scope="col">Итоговая цена</th>
          <th scope="col">Фармацевт</th>
          <th scope="col">Дата покупки</th>
          <th scope="col">Удаление</th>
        </tr>
      </thead>
      <tbody data-no-turbolink="true">
      <% @purchases.each_with_index do |purchase, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td>
          <% PurchaseMedicine.where(:purchase_id => purchase.id).each do |medicine| %>
          <p><%= Medicine.find(medicine.medicine_id).name %> (<%= medicine.amount%>)</p>
          <% end %>
        </td>
        <td><%= purchase.status %></td>
        <td><%= purchase.total_cost %></td>
        <td><%= User.find(purchase.user_id).fio %></td>
        <td><%= purchase.updated_at.strftime("%d-%m-%Y в %H:%M") %></td>
          <td><%= link_to "Удалить заказ",purchase_path(purchase.id), :data => {:confirm => "Вы уверены?", :method => "delete"}, class: "btn btn-outline-danger btn-block" %>
          </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>